@import "tailwindcss";
/*@import "~slick-carousel/slick/slick.css";*/
@import "../js/assets/css/tla-drawer.css";
/*@import "~slick-carousel/slick/slick-theme.css";*/
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "../js/assets/css/tla-modal.css";
@import "../js/assets/css/tla-pagination.css";

@source "../views";

@theme{
    --color-primary-800: #1a337e;
    --color-primary-25: #F5FAFF;
    --color-primary-100: #D1E9FF;
    --color-primary-50: #EFF8FF;
    --color-primary-400: #53B1FD;
    --color-primary-500: #2E90FA;
    --color-primary-600: #1570EF;
    --color-primary-700: #175CD3;
    --color-success-50: #ECFDF3;
    --color-success-300: #6CE9A6;
    --color-success-700: #027A48;
}

@layer components {
    button,
    .btn {
        @apply !flex !items-center !justify-center text-sm w-full h-11 !rounded-md !cursor-pointer;
    }

    .btn-light {
        @apply bg-white border border-gray-200;
    }

    .ant-btn-primary,
    .btn-primary,
    .tla-btn-primary {
        @apply bg-primary-700 text-white;
    }

    .btn-success {
        @apply bg-success-700 text-white;
    }

    .btn-success:hover {
        @apply !border-success-700 !ring-success-700;
    }

    .btn-danger {
        @apply bg-red-700 text-white;
    }

    .btn-danger:hover {
        @apply !border-red-700 !ring-red-700;
    }

    .btn-danger:hover, .btn-success:hover, .btn-primary:hover {
        @apply !text-white;
    }

    .nav-item {
        @apply uppercase !text-[10px];
    }

    .auth-input {
        @apply border w-full rounded-lg h-11 px-4 border-gray-300;
    }
}

.ant-popconfirm-buttons {
    @apply !flex !justify-end;
}

.ant-dropdown-menu-dark, .ant-dropdown-menu-dark .ant-dropdown-menu {
    background: white !important;
}

:where(.css-mxhywb).ant-menu-dark {
    background: #1a337e !important;
}

.anticon-ellipsis svg {
    color: white !important;
    display: none;
}

.anticon-ellipsis::after {
    content: "MORE" !important;
    font-size: 11px !important;
    color: #f0f0f0 !important;
    font-weight: 500 !important;
}

.ant-picker-header-view {
    display: flex !important;
    justify-content: center !important;
}

.slick-next:before {
    content: url("/images/arrow-right.svg") !important;
}

.slick-prev:before {
    content: url("/images/arrow-left.svg") !important;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-menu-horizontal .ant-menu-item, :where(.css-dev-only-do-not-override-mxhywb).ant-menu-horizontal .ant-menu-submenu-title::after {
    content: "MORE" !important;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-menu .ant-menu-submenu-title .anticon {
    display: none !important;
}
