/* Pagination Container */
.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin: 0 2px;
}

.pagination a {
    display: ruby;
    padding: 8px 16px;
    text-decoration: none;
    color: #E65C4FFF;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover and Active States */
.pagination a:hover {
    background-color: #E65C4FFF;
    color: white;
}

.pagination .selected a {
    background-color: #E65C4FFF;
    color: white;
    border-color: #E65C4FFF;
    pointer-events: none;
}

/* Responsive Design */
@media (max-width: 600px) {
    .pagination a {
        padding: 6px 12px;
        font-size: 14px;
    }
}
